


<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html" style="color: red">CONSOMMI TUNISI #619</a>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
  <!-- Navbar Search-->

  <!-- Navbar-->

</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading" style="color: blueviolet">MENU</div>
          <a class="nav-link" routerLink="/products">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            PRODUIT
          </a>

          <a class="nav-link" routerLink="/bills">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            FACTURE
          </a>
          <a class="nav-link" routerLink="/categorie">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            CATEGORIE
          </a>
          <a class="nav-link" routerLink="/commande">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            commande
          </a>
          <a class="nav-link" routerLink="/client">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            client
          </a>




        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div  class="small" style="color: red">Logged in as:</div>
        consommi tounsi(site publication des armes)
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2021</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
